
@font-face {
    font-family: 'Flexygo-icons';
    src: url('./Flexygo-icons.eot?rqsxbr');
    src: url('./Flexygo-icons.eot?rqsxbr#iefix') format('embedded-opentype'), url('./Flexygo-icons.ttf?rqsxbr') format('truetype'), url('./Flexygo-icons.woff?rqsxbr') format('woff'), url('./Flexygo-icons.svg?rqsxbr#Flexygo-icons') format('svg');
    font-weight: normal;
    font-style: normal;
    font: normal normal normal 14px/1;
    font-size: inherit;
}


.flx-icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: inline-block;
    font: normal normal normal 14px/1 Flexygo-icons;
    font-family: 'Flexygo-icons' !important;
    font-size: inherit;
    text-rendering: auto;
    /*  vertical-align: middle;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*Box For icons*/
.icon-box {
    width: 120px;
    height: 120px;
    padding: 4px;
    margin: 0 -1px -1px 0;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    overflow: hidden;
}

.icon-box-s {
    width: 80px;
    height: 80px;
    margin: 0 -11px -3px 0;
    padding: 4px;
    text-align: center;
    border: 1px solid #ddd;
    float: left;
    overflow: hidden;
}

.icon-holder {
    width: 60px;
    height: 70px;
    margin: 10px 0px 0px 0px;
    padding: 4px;
    text-align: center;
    float: left;
    overflow: hidden;
}

    .icon-holder > div {
        margin-top: 10px;
    }

    .icon-holder .icon-name {
        margin-top: 13px;
        color: transparent;
    }

    .icon-holder:hover .icon-name {
        color: #777;
        transition: 0.3s linear;
    }



/* Margin for Icons */
.icon-margin {
    margin: 5px
}

.icon-margin-left {
    margin-left: 10px
}

.icon-margin-right {
    margin-right: 10px
}

/* makes the font 33% larger relative to the icon container */
.icon-lg {
    font-size: 1.33333333em;
    line-height: 0.75em;
    vertical-align: -15%;
}

.icon-fw {
    width: 1.28571429em;
    text-align: center;
}

.icon-ul {
    padding-left: 0;
    margin-left: 2.14285714em;
    list-style-type: none;
}

    .icon-ul > li {
        position: relative;
    }

.icon-li {
    position: absolute;
    left: -2.14285714em;
    width: 2.14285714em;
    top: 0.14285714em;
    text-align: center;
}

    .icon-li.icon-lg {
        left: -1.85714286em;
    }

.icon-border {
    padding: .2em .25em .15em;
    border: solid 0.08em #eeeeee;
    border-radius: .1em;
}

.icon-pull-left {
    float: left;
    margin-right: 0.5em;
}

.icon-pull-right {
    float: right;
    margin-left: 0.5em;
}

.icon-zoom, .icon-zoom-115, .icon-zoom-125, .icon-zoom-15, .icon-zoom-175, .icon-zoom-2 {
    transform: rotate(0deg) scale(1);
    transition: 0.3s linear;
}

    .icon-zoom:hover {
        transform: rotate(0deg) scale(2);
        transition: 0.3s linear;
    }

    .icon-zoom-115:hover {
        transform: rotate(0deg) scale(1.15);
        transition: 0.3s linear;
    }

    .icon-zoom-125:hover {
        transform: rotate(0deg) scale(1.25);
        transition: 0.3s linear;
    }

    .icon-zoom-15:hover {
        transform: rotate(0deg) scale(1.5);
        transition: 0.3s linear;
    }

    .icon-zoom-175:hover {
        transform: rotate(0deg) scale(1.75);
        transition: 0.3s linear;
    }

    .icon-zoom-2:hover {
        transform: rotate(0deg) scale(2);
        transition: 0.3s linear;
    }

.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
    animation: icon-spin 2s infinite linear;
}

.icon-spin-reverse {
    -webkit-animation: icon-spin-invert 2s infinite linear reverse;
    animation: icon-spin 2s infinite linear reverse;
}

.icon-pulse {
    -webkit-animation: icon-spin 1s infinite steps(8);
    animation: icon-spin 1s infinite steps(8);
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.icon-rotate-90 {
    /* filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon-rotate-180 {
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);*/
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.icon-rotate-270 {
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);*/
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

.icon-flip-horizontal {
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);*/
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

.icon-flip-vertical {
    /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);*/
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

:root .icon-rotate-90,
:root .icon-rotate-180,
:root .icon-rotate-270,
:root .icon-flip-horizontal,
:root .icon-flip-vertical {
    filter: none;
}

.icon-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.icon-stack-big {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
}

.icon-stack-big {
    position: relative;
    display: inline-block;
    width: 3em;
    height: 3em;
    line-height: 3em;
    vertical-align: middle;
}


.icon-stack-small {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    line-height: 1em;
    vertical-align: middle;
}


/*Para evitar a iconmoon*/
.icon-stack:before {
    content: none
}

.icon-stack-right {
    line-height: inherit;
    position: absolute;
    right: -0.5em;
    top: -0.8em
}

.icon-stack-small .icon-stack-settings, .icon-stack-small .icon-stack-locked, .icon-stack-small .icon-stack-bell, .icon-stack-small .icon-stack-cancel, .icon-stack-small .icon-stack-info {
    font-size: 0.8em;
}

.flx-icon.icon-stack-settings {
    line-height: inherit;
    position: absolute;
    right: -0.5em;
    top: -0.8em;
}

    .flx-icon.icon-stack-settings:before {
        content: "\ed3b"
    }

.flx-icon.icon-stack-info {
    line-height: inherit;
    position: absolute;
    right: -0.5em;
    bottom: -0.8em;
}

    .flx-icon.icon-stack-info:before {
        content: "\f233"
    }

.flx-icon.icon-stack-locked {
    line-height: inherit;
    position: absolute;
    right: 0em;
    bottom: -0.8em;
}

    .flx-icon.icon-stack-locked:before {
        content: "\ee77"
    }

.flx-icon.icon-stack-bell {
    line-height: inherit;
    position: absolute;
    left: -0.5em;
    top: -0.8em;
}

    .flx-icon.icon-stack-bell:before {
        content: "\f0bd"
    }

.flx-icon.icon-stack-cancel {
    line-height: inherit;
    position: absolute;
    left: -0.5em;
    top: -0.8em;
}

    .flx-icon.icon-stack-cancel:before {
        content: "\eeb9"
    }

.flx-icon.icon-stack-bundle {
    line-height: inherit;
    position: absolute;
    right: -0.6em;
    top: -0.8em;
}

    .flx-icon.icon-stack-bundle:before {
        content: "\ebe0"
    }

.icon-stack-1x, .icon-stack-15x, .icon-stack-2x, .icon-stack-3x, .icon-stack-4x, .icon-stack-5x {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}

.icon-stack-1x {
    line-height: inherit;
}

.icon-stack-15x {
    line-height: 1.5em;
}

.icon-stack-2x {
    font-size: 2em;
}

.icon-stack-3x {
    font-size: 3em;
}

.icon-stack-4x {
    font-size: 4em;
}

.icon-stack-5x {
    font-size: 5em;
}


.icon-inverse {
    color: #ffffff;
}
/*TREE*/
.collapsed > .tree-icon-toggle:before {
    font-family: 'FontAwesome';
    content: "\f196";
    display: block;
    cursor: pointer;
    transform: rotate(0deg) scale(1);
    transition: 0.3s linear;
}

.tree-icon-toggle:before {
    font-family: 'FontAwesome';
    content: "\f147";
    display: block;
    cursor: pointer;
    transform: rotate(90deg) scale(1);
    transition: 0.3s linear;
}
/*TREE END*/

/* SIZES */
.icon-15x {
    font-size: 1.5em;
}

.icon-2x {
    font-size: 2em;
}

.icon-3x {
    font-size: 3em;
}

.icon-4x {
    font-size: 4em;
}

.icon-5x {
    font-size: 5em;
}
