[id^="fhmodal_"] {
    display: none;
}

.fh-modal-content {
    display: block;
    z-index: 10000;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    background-color: var(--flx-color-section);
    border-radius: var(--flx-border-radius);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 20px;

    font-size: 12px;

    [id^="fhmodal_"] {
        display: block;
    }

    /* Code blocks */
    .highlight {
        border-radius: calc(var(--flx-border-radius) * 2); /* So it does not show a bit of white border in dark mode */

        pre {
            background: var(--flx-color-background);
            border-radius: 0 0 var(--flx-border-radius) var(--flx-border-radius);
            padding: 10px;
    
            button.md-clipboard {
                position: relative;
                left: 98%;
                width: 0;
            }
        }
    }
}

.fh-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
}