fh-namepropagator {
    input {
        width: 100%;
        box-sizing: border-box;
        padding: .55rem .7rem;
        border: 1px solid rgb(165 165 165 / 52%);
        background-color: var(--md-code-bg-color);
        border-radius: .5rem;
        font: inherit;
    }
}