.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    background-color: #e6eaf1;
    border-color: #b3b3b3;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}