:root  > * {
  /* Custom Colors */
  --flx-color: #2db7b0;
  --flx-color-background: #e9ecef;
  --flx-color-background-grad: #f5f6f7;
  --flx-color-section: #f5f7f8;
  --flx-color-border: #cfd4d9;

  /* Material Theme Color Personalization */
  --md-primary-fg-color: var(--flx-color); /* Higlights */
  --md-accent-fg-color: var(--flx-color); /* Higlights */
  --md-typeset-a-color: var(--flx-color); /* Text */
  --md-default-fg-color--light: #555e68; /* Titles */
  --md-default-fg-color--light--rgb: 85, 94, 104;  /* Code Block Copy Button */
  --md-code-bg-color: var(--flx-color-background); /* Code blocks */
  --md-code-fg-color: black; /* Code blocks */
  
  /* Borders */
  --flx-border-radius: 16px;
  --flx-border: 1px solid var(--flx-color-border);
  
  /* Main Sidebar*/
  --flx-main-sidebar-width: 19dvw;
  --flx-main-sidebar-padding: 20px;

  /* Main content */
  --flx-main-content-margin: 2rem;

  /* Images */
  --flx-main-background: url(/assets/images/backgrounds/light-background.svg);

  /* Box Shadw */
  --flx-module-boxshadow: 0 8px 32px 0 rgb(0 0 0 / 37%);
}

/* Dark Mode Colors */
[data-md-color-scheme="darkmode"] {
  /* Custom Colors */
  --flx-color: #2db7b0;
  --flx-color-background: #333333;
  --flx-color-background-grad: #191919;
  --flx-color-section: #292929;
  --flx-color-border: #3a3a3a;

  /* Material Theme Color Personalization */
  --md-primary-fg-color: var(--flx-color); /* Higlights */
  --md-accent-fg-color: var(--flx-color); /* Higlights */
  --md-typeset-a-color: var(--flx-color); /* Higlights */
  --md-typeset-color: white; /* Text */
  --md-default-fg-color--light: #a8a8a8; /* Titles */
  --md-default-fg-color--light--rgb: 168, 168, 168;  /* Code Block Copy Button */
  --md-code-bg-color: var(--flx-color-background); /* Code blocks */
  --md-code-fg-color: white; /* Code blocks */

  /* Images */
  --flx-main-background: url(/assets/images/backgrounds/dark-background.svg);
}


/* Header */
header.md-header {
  box-shadow: none;
  position: fixed;
  
  width: calc(100dvw - var(--flx-main-sidebar-width));
  left: var(--flx-main-sidebar-width);

  /* Logo that just appears on middle and small size */
  a.md-logo {
    display: none;

    position: absolute;
    left: 0;
  }
  
  /* Alignment of nav buttons */
  nav.md-header__inner {
    justify-content: flex-end;
    margin: 0;
    max-width: 100%;
    margin-right: 20px;
  }

  /* Search input */
  .md-search {
    position: absolute;
    left: calc(50dvw - var(--flx-main-sidebar-width));
    transform: translatex(-50%);

    .md-search__overlay {
      width: 300dvw !important; /* Width is set in an hiper specific selector on mkdocs skin */
      left: -100dvw;
    }

    .md-search__inner {
      width: 125%;

      .md-search__form {
        border-bottom: 1px solid #292929;
        border-radius: 40px !important;

        &:has(.focus-visible) {
          border-radius: var(--flx-border-radius) var(--flx-border-radius) 0 0 !important;

          .md-search__input {
            background-color: var(--md-default-bg-color);
            border-radius: var(--flx-border-radius) var(--flx-border-radius) 0 0;
          }
        }
      }
    }
  }

  .md-search__output {
    border-radius: 0 0 var(--flx-border-radius) var(--flx-border-radius);
  }

  /* Language Selector PopUp */
  .md-select__inner {
    border-radius: var(--flx-border-radius);
    border: var(--flx-border);
    background-color: var(--flx-color-background);
    color: var(--md-typeset-color);

    &:after {
      border-bottom-color: var(--flx-color-background);
    }
  }
}

/* Main Sidebar */
.flx-sidebar {
  top: 0 !important; /* Top on the material theme is set on the style */
  padding: 0;
  width: fit-content;
  max-width: var(--flx-main-sidebar-width);
  min-width: var(--flx-main-sidebar-width);
  
  /* Logo and docs text */
  .flx-sidebarheader {
    display: flex;
    align-items: center;

    width: var(--flx-main-sidebar-width);
    background-color: var(--flx-color);

    /* Centering and spacing logo and docs text */
    a {
      display: flex;
    }
  }

  /* Nav section */
  /* Module style */
  .md-sidebar__scrollwrap {
    height: calc(100dvh - 53px) !important; /* Height in the material theme is set on the style | 53px = Header height*/
    width: var(--flx-main-sidebar-width);
    margin: 0;

    background: var(--flx-color-section);
    padding: var(--flx-main-sidebar-padding);
    border: var(--flx-border);
    box-shadow: var(--flx-module-boxshadow);
  }

  /* Making nav nodes have an small margin left */
  .md-nav__item:not(.md-nav__item--section) {
    margin-left: 15px;
  }

  /* Removing the margin above for the nodes that has no parent */
  .md-nav.md-nav--primary > .md-nav__list > .md-nav__item:not(.md-nav__item--section){
    margin: 0;
  }
}

/* Main content and Secondary sidebar */
main {
  background-color: var(--flx-color-background);
  background-image: var(--flx-main-background);

  .md-main__inner {
    margin: 0;
    min-width: 100dvw;

    /* Main content and Secondary sidebar direct container */
    .flx-maincontainer {
      display: flex;
      
      /* Main content module */
      /* Module style */
      .md-content {
        background: var(--flx-color-section);
        padding: 20px;
        border-radius:  var(--flx-border-radius);
        border: var(--flx-border);
        margin: 0 var(--flx-main-content-margin) 12px var(--flx-main-content-margin);
        box-shadow: var(--flx-module-boxshadow);
        
        max-width: calc(60dvw - 80px);
        min-width: calc(60dvw - 80px);
        margin-top: 73px;
      }
      
      /* Secondary Sidebar */
      .flx-rightsidebar {
        max-width: calc(20dvw - 3rem);
        min-width: calc(20dvw - 3rem);
        margin-right: 3rem;

        top: 47px !important;

        /* Module style */
        .md-sidebar__scrollwrap {
          background: var(--flx-color-section);
          padding: 20px;
          border-radius:  var(--flx-border-radius);
          border: var(--flx-border);
          box-shadow: var(--flx-module-boxshadow);

          height: calc(100dvh - 85px) !important;
        }

        /* Removes a material stlye */
        .md-nav--secondary .md-nav__title {
          background: var(--flx-color-section);
          box-shadow: none;
        }
      }
    }
  }
}

/* Tables */
.md-typeset table:not([class]) {
  background-color: var(--flx-color-section);
  border-radius: var(--flx-border-radius);
  border-color: var(--md-default-fg-color--light);

  td {
    border-color: var(--md-default-fg-color--light);
  }
}

/* Logo that just appears on middle and small size */
a.md-logo {
  display: flex;
  align-items: center;

  font-weight: bold;
  color: white;
  font-size: 19px;

  img {
    margin: 0 10px;
  }
}

/* Code Blocks */
.md-typeset code {
  border-radius: var(--flx-border-radius);
}

.md-clipboard {
  color: rgba(var(--md-default-fg-color--light--rgb), 0.5);
}

/* This fixes table of content titles higlighting the title above the one clicked intead of the clicked */
.md-typeset :target {
  scroll-margin-top: 2.3rem; /* Adds an offset above an element when scrolled to, preventing it from being hidden behind fixed headers  */
}

/* Medium Screen Size */
@media screen and (max-width: 76.2344em){
  /* Header */
  header.md-header {
    width: 100dvw;
    left: 0;
    border-radius: 0;

    a.md-logo {
      display: flex;
      align-items: center;
    }
    
    .md-search {
      left: calc(50dvw);

      .md-search__inner {
        width: 125%;

        .md-search__form {
          border-bottom: 1px solid var(--flx-color-section);
          border-radius: 40px !important;

          &:has(.focus-visible) {
            border-radius: var(--flx-border-radius) var(--flx-border-radius) 0 0 !important;

            .md-search__input {
              background-color: var(--md-default-bg-color);
              border-radius: var(--flx-border-radius) var(--flx-border-radius) 0 0;
            }
          }
        }
      }
    }
  }

  /* Main Sidebar */
  .flx-sidebar .flx-sidebarheader {
    display: none;
  }

  /* Main content and Secondary sidebar */
  main {
    .md-main__inner .flx-maincontainer {
      /* Main content*/
      .md-content {
        min-width: calc(75dvw - 80px);
        max-width: calc(75dvw - 80px);

        /* Blue connecting header bar */
        &:before {
          display: none;
        }
      }

      /* Secondary sidebar */
      .flx-rightsidebar {
        top: 47px !important;

        min-width: 20dvw;
        max-width: 20dvw;
      }
    }
  } 
}

/* Small Screen Size */
@media screen and (max-width: 59.9844em) {
  /* Search input with everything cutom removed so it just fills all available space */
  header.md-header {
    .md-search {
      position: unset;
      transform: unset;

      .md-search__inner {
        .md-search__form {
          border-radius: 0 !important;

          .md-search__input {
            color: var(--md-default-fg-color);
          }
        }
      }
    }
  }

  /* Main content and Secondary sidebar */
  main .md-main__inner .flx-maincontainer {
    > .md-content {
      min-width: calc(100dvw - 80px);
      max-width: calc(100dvw - 80px);
    }
  }
}