/*#region 
Primary Colors (The ones from who the rest of the theme is built, but you could change the rest on the Advanced Colors region)*/
:root  > * {
  /* Custom Colors */
  --fh-identity-color: #2db7b0; /* The branding color that'll appear on the top bar and be used for links */
  --fh-color-section: #f5f7f8; /* Background color of the 3 main blocks (left sidebar, main content, right sidebar)  */
  --fh-color-background: #e9ecef; /* Bacground color for the <main> (the background that's bellow the 3 main blocks) */
  --fh-color-border: #cfd4d9; /* Border color */
  --fh-color-text: white; /* Text color to use for  background with fh-identity-color*/
  --fh-identity-color-accent: #30d7cd; /* Used in borders of buttons or on dark mode to make visible links <a>*/

  /* Material Theme Color Personalization */
  --md-default-fg-color: #555e68; /* Color for <body> (most of the texts) */
  --md-default-fg-color--bold: #03060b; /* Color for <h1> <h2> <h3> <h4> <h5> */
  --md-default-fg-color--lightest: #555e6880;  /* Code Block Copy Button */
}

/* Dark Mode Colors */
[data-md-color-scheme="darkmode"] {
  /* Custom Colors */
  --fh-color-section: #292929; /* Background color of the 3 main blocks (left sidebar, main content, right sidebar)  */
  --fh-color-background: #333333; /* Bacground color for the <main> (the background that's bellow the 3 main blocks) */
  --fh-color-border: #3a3a3a; /* Border color */

  /* Material Theme Color Personalization */
  --md-typeset-color: #d7dde2; /* Text */
  --md-default-fg-color--bold: white; /* Color for <h1> <h2> <h3> <h4> <h5> */
}
/*#endregion*/

/*#region 
Advanced Colors*/
/* Global Colors */
:root  > * {
  --md-default-fg-color--light: var(--md-default-fg-color--bold); /* Color for right bar top title */
  --md-code-fg-color: var(--md-default-fg-color--bold); /* Code blocks text that has no style */

  --md-primary-fg-color: var(--fh-identity-color); /* Higlights */
  --md-accent-fg-color: var(--fh-identity-color); /* Colo for :hover <a> */
  --md-typeset-a-color: var(--fh-identity-color); /* Color for <a> */

  --md-code-bg-color: var(--fh-color-background); /* Code blocks */
  --md-default-bg-color: var(--fh-color-background); /* Input background */
}

/* Dark Mode Colors */
[data-md-color-scheme="darkmode"] { 
  --md-default-fg-color--light: var(--md-default-fg-color--bold); /* Color for right bar top title */
  --md-typeset-a-color: var(--fh-identity-color-accent); /* Color for <a> */
  --md-accent-fg-color: var(--fh-identity-color-accent); /* Colo for :hover <a> */
  --md-admonition-bg-color: var(--fh-color-background); /* Background for admonitions */
  --md-admonition-fg-color: var(--md-typeset-color); /* Text color for admonitions */
}
/*#endregion*/