/* ---------- Light mode: Lovelace (from https://pygments.org/styles/#lovelace) ---------- */
[data-md-color-scheme="default"] {
    pre { line-height: 125%; }
    td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    .highlight .hll { background-color: #ffffcc }
    .highlight { background: #ffffff; }
    .highlight .c { color: #888; font-style: italic } /* Comment */
    .highlight .k { color: #2838B0 } /* Keyword */
    .highlight .o { color: #666 } /* Operator */
    .highlight .p { color: #888 } /* Punctuation */
    .highlight .ch { color: #287088; font-style: italic } /* Comment.Hashbang */
    .highlight .cm { color: #888; font-style: italic } /* Comment.Multiline */
    .highlight .cp { color: #289870 } /* Comment.Preproc */
    .highlight .cpf { color: #888; font-style: italic } /* Comment.PreprocFile */
    .highlight .c1 { color: #888; font-style: italic } /* Comment.Single */
    .highlight .cs { color: #888; font-style: italic } /* Comment.Special */
    .highlight .gd { color: #C02828 } /* Generic.Deleted */
    .highlight .ge { font-style: italic } /* Generic.Emph */
    .highlight .ges { font-weight: bold; font-style: italic } /* Generic.EmphStrong */
    .highlight .gr { color: #C02828 } /* Generic.Error */
    .highlight .gh { color: #666 } /* Generic.Heading */
    .highlight .gi { color: #388038 } /* Generic.Inserted */
    .highlight .go { color: #666 } /* Generic.Output */
    .highlight .gp { color: #444 } /* Generic.Prompt */
    .highlight .gs { font-weight: bold } /* Generic.Strong */
    .highlight .gu { color: #444 } /* Generic.Subheading */
    .highlight .gt { color: #2838B0 } /* Generic.Traceback */
    .highlight .kc { color: #444; font-style: italic } /* Keyword.Constant */
    .highlight .kd { color: #2838B0; font-style: italic } /* Keyword.Declaration */
    .highlight .kn { color: #2838B0 } /* Keyword.Namespace */
    .highlight .kp { color: #2838B0 } /* Keyword.Pseudo */
    .highlight .kr { color: #2838B0 } /* Keyword.Reserved */
    .highlight .kt { color: #2838B0; font-style: italic } /* Keyword.Type */
    .highlight .m { color: #444 } /* Literal.Number */
    .highlight .s { color: #B83838 } /* Literal.String */
    .highlight .na { color: #388038 } /* Name.Attribute */
    .highlight .nb { color: #388038 } /* Name.Builtin */
    .highlight .nc { color: #287088 } /* Name.Class */
    .highlight .no { color: #B85820 } /* Name.Constant */
    .highlight .nd { color: #287088 } /* Name.Decorator */
    .highlight .ni { color: #709030 } /* Name.Entity */
    .highlight .ne { color: #908828 } /* Name.Exception */
    .highlight .nf { color: #785840 } /* Name.Function */
    .highlight .nl { color: #289870 } /* Name.Label */
    .highlight .nn { color: #289870 } /* Name.Namespace */
    .highlight .nt { color: #2838B0 } /* Name.Tag */
    .highlight .nv { color: #B04040 } /* Name.Variable */
    .highlight .ow { color: #A848A8 } /* Operator.Word */
    .highlight .pm { color: #888 } /* Punctuation.Marker */
    .highlight .w { color: #A89028 } /* Text.Whitespace */
    .highlight .mb { color: #444 } /* Literal.Number.Bin */
    .highlight .mf { color: #444 } /* Literal.Number.Float */
    .highlight .mh { color: #444 } /* Literal.Number.Hex */
    .highlight .mi { color: #444 } /* Literal.Number.Integer */
    .highlight .mo { color: #444 } /* Literal.Number.Oct */
    .highlight .sa { color: #444 } /* Literal.String.Affix */
    .highlight .sb { color: #B83838 } /* Literal.String.Backtick */
    .highlight .sc { color: #A848A8 } /* Literal.String.Char */
    .highlight .dl { color: #B85820 } /* Literal.String.Delimiter */
    .highlight .sd { color: #B85820; font-style: italic } /* Literal.String.Doc */
    .highlight .s2 { color: #B83838 } /* Literal.String.Double */
    .highlight .se { color: #709030 } /* Literal.String.Escape */
    .highlight .sh { color: #B83838 } /* Literal.String.Heredoc */
    .highlight .si { color: #B83838; text-decoration: underline } /* Literal.String.Interpol */
    .highlight .sx { color: #A848A8 } /* Literal.String.Other */
    .highlight .sr { color: #A848A8 } /* Literal.String.Regex */
    .highlight .s1 { color: #B83838 } /* Literal.String.Single */
    .highlight .ss { color: #B83838 } /* Literal.String.Symbol */
    .highlight .bp { color: #388038; font-style: italic } /* Name.Builtin.Pseudo */
    .highlight .fm { color: #B85820 } /* Name.Function.Magic */
    .highlight .vc { color: #B04040 } /* Name.Variable.Class */
    .highlight .vg { color: #908828 } /* Name.Variable.Global */
    .highlight .vi { color: #B04040 } /* Name.Variable.Instance */
    .highlight .vm { color: #B85820 } /* Name.Variable.Magic */
    .highlight .il { color: #444 } /* Literal.Number.Integer.Long */
}


/* ---------- Dark mode: VS Code Dark+ (from https://github.com/paulduf/pygments-vsc-darkmodern)---------- */
/* Commands used after downloading the pygments-vsc-darkmodern package:
python -m pip install .
pygmentize -S dark-modern -f html -a .highlight > dark-modern.css
 */
[data-md-color-scheme="darkmode"] {
    pre { line-height: 125%; }
    td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
    td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
    .highlight .hll { background-color: #ffffcc }
    .highlight { background: #ffffff; }
    .highlight .c { color: #6D9957 } /* Comment */
    .highlight .err { color: #61C8B0 } /* Error */
    .highlight .k { color: #639BD4 } /* Keyword */
    .highlight .n { color: #7FD0FD } /* Name */
    .highlight .o { color: #D4D4D4 } /* Operator */
    .highlight .p { color: #F9C922 } /* Punctuation */
    .highlight .ch { color: #6D9957 } /* Comment.Hashbang */
    .highlight .cm { color: #6D9957 } /* Comment.Multiline */
    .highlight .cp { color: #6D9957 } /* Comment.Preproc */
    .highlight .cpf { color: #6D9957 } /* Comment.PreprocFile */
    .highlight .c1 { color: #6D9957 } /* Comment.Single */
    .highlight .cs { color: #6D9957 } /* Comment.Special */
    .highlight .kc { color: #639BD4 } /* Keyword.Constant */
    .highlight .kd { color: #639BD4 } /* Keyword.Declaration */
    .highlight .kn { color: #C287A0 } /* Keyword.Namespace */
    .highlight .kp { color: #639BD4 } /* Keyword.Pseudo */
    .highlight .kr { color: #C287A0 } /* Keyword.Reserved */
    .highlight .kt { color: #61C8B0 } /* Keyword.Type */
    .highlight .m { color: #B6CEA9 } /* Literal.Number */
    .highlight .s { color: #C9937A } /* Literal.String */
    .highlight .na { color: #7FD0FD } /* Name.Attribute */
    .highlight .nb { color: #7FD0FD } /* Name.Builtin */
    .highlight .nc { color: #61C8B0 } /* Name.Class */
    .highlight .no { color: #7FD0FD } /* Name.Constant */
    .highlight .nd { color: #7FD0FD } /* Name.Decorator */
    .highlight .ni { color: #7FD0FD } /* Name.Entity */
    .highlight .ne { color: #7FD0FD } /* Name.Exception */
    .highlight .nf { color: #DBDCAC } /* Name.Function */
    .highlight .nl { color: #7FD0FD } /* Name.Label */
    .highlight .nn { color: #61C8B0 } /* Name.Namespace */
    .highlight .nx { color: #7FD0FD } /* Name.Other */
    .highlight .py { color: #7FD0FD } /* Name.Property */
    .highlight .nt { color: #5899d4 } /* Name.Tag */
    .highlight .nv { color: #7FD0FD } /* Name.Variable */
    .highlight .ow { color: #D4D4D4 } /* Operator.Word */
    .highlight .pm { color: #F9C922 } /* Punctuation.Marker */
    .highlight .mb { color: #B6CEA9 } /* Literal.Number.Bin */
    .highlight .mf { color: #B6CEA9 } /* Literal.Number.Float */
    .highlight .mh { color: #B6CEA9 } /* Literal.Number.Hex */
    .highlight .mi { color: #B6CEA9 } /* Literal.Number.Integer */
    .highlight .mo { color: #B6CEA9 } /* Literal.Number.Oct */
    .highlight .sa { color: #C9937A } /* Literal.String.Affix */
    .highlight .sb { color: #C9937A } /* Literal.String.Backtick */
    .highlight .sc { color: #C9937A } /* Literal.String.Char */
    .highlight .dl { color: #C9937A } /* Literal.String.Delimiter */
    .highlight .sd { color: #C9937A } /* Literal.String.Doc */
    .highlight .s2 { color: #C9937A } /* Literal.String.Double */
    .highlight .se { color: #C9937A } /* Literal.String.Escape */
    .highlight .sh { color: #C9937A } /* Literal.String.Heredoc */
    .highlight .si { color: #C9937A } /* Literal.String.Interpol */
    .highlight .sx { color: #C9937A } /* Literal.String.Other */
    .highlight .sr { color: #C9937A } /* Literal.String.Regex */
    .highlight .s1 { color: #C9937A } /* Literal.String.Single */
    .highlight .ss { color: #C9937A } /* Literal.String.Symbol */
    .highlight .bp { color: #7FD0FD } /* Name.Builtin.Pseudo */
    .highlight .fm { color: #DBDCAC } /* Name.Function.Magic */
    .highlight .vc { color: #7FD0FD } /* Name.Variable.Class */
    .highlight .vg { color: #7FD0FD } /* Name.Variable.Global */
    .highlight .vi { color: #7FD0FD } /* Name.Variable.Instance */
    .highlight .vm { color: #7FD0FD } /* Name.Variable.Magic */
    .highlight .il { color: #B6CEA9 } /* Literal.Number.Integer.Long */
    .highlight .gh { color: #FFFFFF } /* Generic.Heading */
    .highlight .gu { color: #FFFFFF } /* Generic.Subheading */
    .highlight .ge { color: #FFFFFF } /* Generic.Emph */
    .highlight .gs { color: #FFFFFF } /* Generic.Strong */
}