main.error-404 {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 20px 40px;

        background-color: var(--flx-color-section);
        box-shadow: var(--flx-module-boxshadow);

        border-radius: var(--flx-border-radius);

        h1 {
            color: var(--flx-color);
            font-size: 40px;
        }

        h2 {
            color: var(--md-default-fg-color--light);
            font-size: 30px;
        }

        a {
            padding: 10px;
            margin: 26.8px 0;

            background: var(--flx-color);
            color: white;

            border-radius: var(--flx-border-radius);

            font-size: 18px;
        }
    }
}