/* Home Cards */
:root  > * {
    --flx-home-card-shadow: 0px 1px 2px #0208140f, 0px 2px 8px #02081414;
}

.md-typeset ul.flx-home-cards {
    display: grid;
    grid-template-columns: auto auto;
    list-style: none;

    li.flx-home-card {
        transition: all 0.6s ease;
        border: var(--flx-border);
        border-radius: var(--flx-border-radius);

        a {
            color: var(--md-default-fg-color);
        }

        a > * {
            margin-left: 8px;
        }

        .flx-home-card-icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;

            padding: 10px;
            margin-top: 10px;

            border: var(--flx-border);
            border-radius: 50%;

            img {
                width: 32px;
                height: 32px;

                border-radius: 0;
            }   
        }

        .flx-small-text {
            font-size: 14px;
        }
    }

    li.flx-home-card:hover {
        box-shadow: var(--flx-home-card-shadow);

        .flx-home-card-icon {
            filter: brightness(0) saturate(100%) invert(66%) sepia(78%) saturate(373%) hue-rotate(126deg) brightness(81%) contrast(91%);    
        }
    }
}