[id^="fhmodal_"] {
    display: none;
}

.fh-modal-content {
    display: block;
    z-index: 10000;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    background-color: var(--fh-color-section);
    border-radius: var(--fh-border-radius);
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    padding: 20px;

    font-size: 12px;

    [id^="fhmodal_"] {
        display: block;
    }

    /* Code blocks */
    .highlight {
        pre {
            background: var(--fh-color-background);
            border-radius: 0 0 var(--fh-border-radius) var(--fh-border-radius);
            padding: 10px;
            overflow-x: auto;
    
            button.md-clipboard {
                position: relative;
                left: 98%;
                width: 0;
            }
        }
    }

    /* Works on Firefox */
    scrollbar-width: thin;
    scrollbar-color: var(--fh-identity-color-accent) transparent;

    /* Works on Chrome, Edge, and Safari */
    &::-webkit-scrollbar {
        width: 12px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--fh-identity-color-accent);
        border-radius: 20px;
        border: 3px solid transparent;
    }
}

.fh-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(2px);
}

/*fh-modal[type="code"]::before {
    content: "</>";
    margin-right: 5px;
}*/