:root  > * {
  --md-primary-fg-color:        #2db7b0;
  --md-accent-fg-color:         #2db7b0;
}

/* Search input */
.md-search__form, [data-md-toggle=search]:checked~.md-header .md-search__form, [dir=ltr] .md-search__output  {
    border-radius: 20px;
}

.md-search__output {
    margin-top: 10px;
    border-radius: 16px;
}

.md-search-result__meta {
    border-radius: 20px;
    margin: 10px;
}

/* Main */
.md-grid {
    margin: 0;
    max-width: 100dvw;
}

[dir=ltr] .md-sidebar--secondary:not([hidden])~.md-content>.md-content__inner {
    margin-left: 14em;
    margin-right: 14em;
}

/* Left Navigation Bar*/
.md-nav[data-md-level="1"] > .md-nav__list > .md-nav__item:last-of-type {
    margin-bottom: .6rem;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link {
    padding: .3rem .5rem .3rem 1rem;
}

.md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code {
    background: #2db7b024;
    border-radius: 10px;
}

.md-nav__link {
    margin-top: 0;
}

.md-sidebar__scrollwrap:hover {
    scrollbar-color: inherit;
}